*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #D2B48C;
}
.cleaner{
    clear:both;
}

  @keyframes scale-up-center {
    0% {
              transform: scale(0.5);
    }
    100% {
              transform: scale(1);
    }
  }
  

header{
    width: 100%;
    height: 80px;
    background-color: #D2B48C;
    display: flex;
    justify-content:space-between;
}
#logo{
    margin-left: 50px;
}
#logo img{
    height: 100%;
}
nav{
    width: 70%;
    text-align: right;
    margin: 30px 100px;
}
nav ul li{
    display: inline;
    padding: 0px 20px;
}
nav a{
    color: #E6E6FA;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
} 
nav ul li a:hover, .active{
    border-bottom: 1px solid #E6E6FA;
    padding: 3px 0px;
}  
#main{
    background-image: url("../img/bg-home.jpg");
}
#main, #gallery-main, #about-us-main, #author-main{
    width: 100%;
    height: 660px;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cover{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.center-block{
    position: absolute;
    top: 120px;
    right: 100px;
    text-transform: uppercase;
    color:#E6E6FA;
    text-align:center;
    width: 550px;
    letter-spacing: 7px;
    line-height: 1.5;
    animation: scale-up-center 0.4s linear both;
}
.center-block h1 span{
    color: #D2B48C;
    text-shadow: #E6E6FA 1px 1px;
}
.center-block h4{
    font-size: 12px;
    letter-spacing: 5px;
    width: 70%;
    margin: 40px auto;
    padding-bottom: 20%;
}

.center-block .button a{
    padding: 11px 35px;
    border-radius: 5px;
    background-color: #D2B48C;
    color:#E6E6FA;
    border: 1px solid #E6E6FA;
    cursor: pointer;
    letter-spacing: 0px;
    font-size: 14px;
    transition: 0.3s;
}
.center-block .button a:hover, .contact-form input[type="submit"]:hover, .footer-newsletter button:hover{
    background-color: #E6E6FA;
    color:#D2B48C;
    border: 1px solid #D2B48C;
    animation: scale-up-center 0.4s linear both;
}
.latest-photos h1, .our-services h1, #gallery-photos h1, #our-story h1, #our-team h1, #author-content h1{
    color:#E6E6FA;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 3px;
}
.latest-photos h1::after, .our-services h1::after, #gallery-photos h1::after, #our-story h1::after, #our-team h1::after, #author-content h1::after{
    content: "";
    display: block;
    margin: 5px auto;
    width: 100px;
    height: 3px;
    background-color:#E6E6FA;
}
.photo-gallery{
    margin: 50px 0px;
}
.photo-row{
    padding: 18px;
    display: flex;
    justify-content: space-evenly;
}
.photo-row img{
    width: 310px;
    height: 250px;
    object-fit:cover;
    border-radius: 7px;
    margin-right: 10px;
    border: 1px solid #E6E6FA;
    box-shadow: 1px 1px 3px #E6E6FA;
    transition: ease-in 0.3s;
    cursor: pointer;
}
.photo-row img:hover{
    transform: scale(1.1);
}
.photo-gallery h3, .container h3{
    font-size: 25px;
    color:#333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 5px;
}
.our-services, .latest-photos, .contact-review, #gallery-photos, #our-story, #our-team, #author-content{
    width:100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
}
.services-container{
    width: 95%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.services-container .container:nth-of-type(2){
    border-right: 1px solid;
    border-left: 1px solid;
}
.container{
    width: 33%;
    padding: 0px 50px;
    text-align:center;
    color:#E6E6FA;
    position: relative;
}
.container h3{
    padding-bottom: 30px;
}
.container img{
    width: 270px;
    height: 270px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.contact-review{
    display: flex;
    justify-content:space-around;
    margin-top: 11%;
    margin-bottom: 100px;
}
.contact-form{
    width: 450px;
    height: 606px;
    padding: 50px 20px;
    background-color: #E6E6FA;
    color: #333;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact-form form{
    display: flex;
    flex-direction:column;
}
.contact-form input, .contact-form textarea{
    padding: 12px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #D2B48C;
    border-radius: 5px;
    background-color: #E6E6FA;
}
.contact-form input[type="submit"]{
    background-color: #D2B48C;
    color: #E6E6FA;
    padding: 15px;
    width: 60%;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px auto;
    transition:  .3s;
}
.contact-form input:focus, .contact-form textarea:focus, .footer-newsletter input:focus{
    background-color: #D2B48C;
    color:#E6E6FA;
}
.reviews-wrap{
    width: 60%;
    background-color: #E6E6FA;
    padding: 10px 0px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.reviews-content{
    display: flex;
    flex-direction: column;
}
.review-block{
    background-color: #D2B48C;
    margin: 10px auto;
    border-radius: 8px;
    width: 95%;
    border: 1px solid #333;
    padding: 5px;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.review-block::before{
    content: "\f10e";
    display:block;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 35px;
    color:#333;
}
.review-block img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: 100% 15%;
}
.review-text p{
    text-align:start;
    padding: 10px 5px;
    font-weight: 600;
}
#footer{
    background-color: #E6E6FA;
    width: 100%;
    height: 180px;
    color: #333;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 14px;
    
}
.social-links ul li{
    list-style-type: none;
    margin: 10px;
}
.footer-newsletter input, .footer-newsletter button{
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 4px;
}
.footer-newsletter button{
    background-color: #D2B48C;
    color:#E6E6FA;
    border: 1px solid #333;
    transition: 300ms;
    cursor: pointer;
}
.footer-newsletter, .footer-center{
    text-align: center;
}
.social-links{
    width: 25%;
}
.fa-rss, .fa-sitemap, .social-links i[class^="fa"]{
    color: #333;
    font-size: 18px;
    margin: 2px 10px;
}
.footer-center img{
    width: 240px;
    height: 80px;
}
#gallery-main{
    background-image: url("../img/bg-gallery.jpg");
}
.gallery-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 40px auto;
}
.gallery-column{
    width: 25%;
    padding: 20px;
}
.gallery-column img{
    width: 100%;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 5px;
    transition: ease-in 0.3s;
    cursor: pointer;
}
.gallery-column img:hover{
    transform: scale(0.9);
}
#about-us-main{
    background-image: url("../img/bg-about-us.jpg");  
    background-position: 70% 40%;
}
.content img{
    width: 500px;
    height: 500px;
    border-radius: 8px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.content-text{
    width: 48%;
    font-size: 20px;
    padding: 30px;
    position: relative;
}
.content-text::before{
    content:"";
    display:block;
    background-color: #E6E6FA;
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 0%;
    left: 17%;
}
.content-text::after{
    content:"";
    display:block;
    background-color: #E6E6FA;
    position: absolute;
    width: 1px;
    height: 90%;
    top: 20%;
    right: 2%;
}
.content-text p{
    text-align:start;
    margin: 25px 0px;
    line-height: 2;
}
#our-team{
    margin-top: 100px;
}
.our-team-wrap{
    width: 100%;
    height: 650px;
    margin-top: 35px;
    position: relative;
}
.member-1, .member-2, .member-3{
    position: absolute;
    width: 300px;
    height: 400px;
}
.member-1{
    top: 5%;
    left: 10%;
}
.member-2{
    top: 15%;
    left: 40%;
}
.member-3{
    top: 30%;
    left: 70%;
}
.member-1, .member-2, .member-3{
    text-align: center;
    line-height: 2.5;
}
.member-1 img, .member-2 img, .member-3 img{
    width: 100%;
    border-radius: 50%;
    height: 75%;
    object-fit: cover;
    transition: ease-in-out 300ms;
    cursor: pointer;
}
.member-1 img{
    object-position: 50% 73%;
}
.member-desc{
    background-color:#333;
    color:#E6E6FA;
    border-radius: 5px;
}
.member-1 p, .member-2 p, .member-3 p{
    text-transform: uppercase;
    font-size: 15px;
    color:#D2B48C;
}
.member-2 img{
    object-position: 50% 30%;
}
.member-1 img:hover, .member-2 img:hover, .member-3 img:hover{
    transform: scale(1.1);
}
#author-main{
    background-image: url("../img/author-main.jpg");
    background-position: 50% 40%;
}
.author-wrap img{
    width: 300px;
    height: 505px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}
.author-wrap{
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.author-description{
    padding: 20px 50px;;
    background-color: #E6E6FA;
    width: 40%;   
    border-radius: 5px;
    box-shadow: 1px 1px 5px #E6E6FA;
}
.author-description h3{
    margin: 20px 0px;
    font-size: 30px;
    color:#D2B48C;
}
.author-description p{
    text-align:justify;
    margin: 25px 0px;
    line-height: 2;
    font-size: 25px;
    color: #333;
    
}




